
swodniW MRA ALSIW :etalpmeTxibbaz    
001 :ytiroirp    
TNEGA :epyt    
"0.0.1" :noisrev    
lmay.swodniw-mra :elif    
swodniw-mra :di -  

xuniL MRA ALSIW :etalpmeTxibbaz    
001 :ytiroirp    
TNEGA :epyt    
"0.0.1" :noisrev    
lmay.xunil-mra :elif    
xunil-mra :di -  
:setalpmet
xunil-mra :dIetalpmeTtluafed
"mra-01.60.6202" :noisreVkcap
"1" :noisreVamehcs