
"51.0" :eulav          
"}NRAW_EMIT_ESNOPSER_PMCI${" :orcam -        
"02" :eulav          
"}NRAW_SSOL_PMCI${" :orcam -        
"51.0" :eulav          
"}NRAW.EMIT_ESNOPSER.PMCI${" :orcam -        
"02" :eulav          
"}NRAW.SSOL.PMCI${" :orcam -        
:sorcam      
"sorcam gnip PMCI :eludom nacsteN" :eman      
"sorcam gnip PMCI :eludom nacsteN" :etalpmet -    
:setalpmet  
"0.8" :noisrev  
:tropxe_xibbaz